body {
	color: #000;
	font-family:Monospace;
	font-size:13px;
	text-align:left;
	font-weight: bold;

	background-color: #fff;
	margin: 0px;
	overflow: hidden;
}

#info {
	color:#000;
	position: absolute;
	top: 0px;
	padding: 5px;

}

.center {
	display:table
}
.center div {
    height: 100%;
    width:100%;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}

.nameTag {
	position:absolute;
	transform: translate(-50%,0);
	opacity:0.5;
	border-radius:1em;
	background-color: #FFFFFF;
	padding:.1em .5em .1em .5em;
}